<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="/generic.css" rel="stylesheet">
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div th:insert="Navbar"></div>
<div class="container album-grid anim">
    <h1>Contact Us</h1>

    <p>If you have any questions or inquiries, feel free to reach out to us:</p>
    <ul>
        <li>Email: info@example.com</li>
        <li>Phone: +1234567890</li>
        <li>Address: 123 Main Street, City, Country</li>
    </ul>
</div>
<div th:insert="Footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<style>

    ul {
        list-style-type: none;
        padding-left: 0;
    }


</style>