<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPal Home</title>
    <link href="/generic.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container anim cancell">
    <h1 class="text-center mt-5 shadd">Payment cancelled</h1>
    <div class="d-flex justify-content-center mt-5">
        <a href="musicWebShop/bestSellers.html"
           class="btn btn-primary">
            Back to home
        </a>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
<style>
    .cancell{
        margin-top: 150px;

    }
    .shadd{
        text-shadow: 0 0 10px rgba(135, 153, 255, 0.5);
color: yellow;
        font-size: 40px;
    }
</style>